@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.formularioRegistro{
    margin: 0 auto;
    width: 40%;
    margin-top: 6%;
}

#diagnosticodiv{
    padding: .375rem .75rem;
}

.tablacitas{
    margin-top: 6%;
    padding-bottom: 12%;
}

.tablacitas h2{
    text-align: center;
}

.tablacitas table{
    margin: 0 auto;
    width: 60%;
}

.botonform{
    margin-top: 2%;
}