@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar {
    background-color: rgb(53, 178, 220) !important;
    padding: 10px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
}



.nav-link {
    color: white;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    text-shadow: 0 0 1px white;
    text-decoration: none;
}

.formularioRegistro{
    margin: 0 auto;
    width: 40%;
    margin-top: 6%;
}

#diagnosticodiv{
    padding: .375rem .75rem;
}

.tablacitas{
    margin-top: 6%;
    padding-bottom: 12%;
}

.tablacitas h2{
    text-align: center;
}

.tablacitas table{
    margin: 0 auto;
    width: 60%;
}

.botonform{
    margin-top: 2%;
}